.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

input {
  border: 1px solid #808080;
  border-radius: 12px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #808080;
}
input:focus {
  outline: none;
  border-color: #4e75ff;
}

input:hover {
  border-color: #000;
}

.submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px 16px;
  min-width: 91px;
  min-height: 40px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms ease-in;
  background-color: #4e75ff;
}

.submit-bnt:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  gap: 24px;
  padding: 24px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1176px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
}

.gallery-image {
  width: 100%;
  max-height: 152px;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.sl-wrapper {
  background-color: #2e2f42cc;
}

body .sl-wrapper .sl-close,
body .sl-wrapper .sl-navigation button,
body .sl-wrapper .sl-counter {
  color: #fff;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  position: relative;
  background: linear-gradient(0deg, rgba(78, 117, 255, 0.2) 33%, #4effcd 100%);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
